pkgname = bac-countdown
pkgver = 1.1
pkgrel = 1
pkgdesc = Live BAC exam countdown script
arch = any
url = https://github.com/walidbaz/bac-countdown
license = MIT
depends = python
depends = python-requests
depends = python-beautifulsoup4
depends = python-rich
source = bac-countdown-1.1.tar.gz::https://github.com/walidbaz/bac-countdown/archive/refs/tags/v1.1.tar.gz
sha256sums = SKIP

